<h1>Your Repertoire is Arranged by Time Period</h1>

<% Era.all.each do |e| %>
    <h2><%= e.name %></h2>
    <ul>
    <% @user.compositions.each do |c| %>
        <% if c.era == e %>
        <li><a href="compositions/<%= c.slug %>"><%= c.composer %>: <%= c.title %></a></li>
        <% end %>
    </ul>
    <% end %>
<% end %>
<br>

<strong>
<a href="/compositions/new">Add a new composition</a>
<a href="/users/<%= @user.slug %>">Home</a>
</strong>
<br>

