<h2><%= @composition.title %></h2>

<p>Composer: <%= @composition.composer %></p>
<p>Written for: <%= @composition.instrumentation %></p>
<p>Period: <%= @composition.era.name %></p>
<br>
<strong>
<a href="/compositions/<%= @composition.slug %>/edit">Edit Details</a><br>
<a href="/compositions">Return to Complete Compositions List</a><br>
<a href="/users/<%= @user.slug %>">Home</a>
</strong>
